{% extends "base.twig" %}
{% block title%}404 Error - Not Found{% endblock %}
{% block content %}
    <div class="ui container">
        <!-- Put some stuff in here Nick !-->
        <h1>404 not found</h1>
        <h2>You done goofed...</h2>
        <p>THIS PAGE DOESN'T EXIST.</p>
        <img src="https://media.giphy.com/media/13UUKON8mrgECY/giphy.gif"
        height= "30%" width="55%" alt="" />
      </div>

{% endblock %}