{% extends "base.twig" %}
{% block title%}404 Error - Not Found{% endblock %}
{% block content %}
    <div class="ui container">
        <div class="ui segments">






            <div class="ui segment">
                <h3>Sbout Us</h3> <i>Icon of R if reserved available</i>
            </div>
            <div class="ui segment">
                <h3>Sabout me: luke</h3> <i>Icon of R if reserved available</i>
            </div>
            <div class="ui segment">
                <h3>Nick: here, this is my life</h3> <i>Icon of R if reserved available</i>
            </div>






        </div>
    </div>
{% endblock %}