{% extends "base.twig" %}
{% block title%}Floor{% endblock %}
{% block content %}
    <div class="ui container">
        <div class="ui segments">
            
            <div class="ui segment">
                <h3>[Building Name]</h3>
            </div>

            <div class="ui segment">
                <h3>[Floors]/h3> <i>[R Icon, if reservation available]</i>
            </div>

            <div class="ui segment">
                [Status]
                [Amenities]
                [Description]
            </div>

            <div class="ui segment">
                rooms here with indications of "if ocuppied or not"
            </div>

        </div>
    </div>
{% endblock %}