{% extends "base.twig" %}
{% block title%}Account{% endblock %}
{% block content %}
    <div class="ui container" >
        <div class="ui segments" style="font-size: 25px; margin-top: 25px;">

            <div class="ui segment" style="color:black">
                <h1>My Account</h1>
            </div>

            <div class="ui segment">

                <div class="ui two column middle aligned relaxed grid basic segment" style="display: inline-block; width: 100%">
                    <div class="column" style="display: inline-block;width: 45%;">
                        <div class="ui form segment">
                            <div class="field">
                                <label>Username</label>
                                <div class="ui left labeled icon input">
                                    <input type="text" placeholder="Username">
                                    <i class="user icon"></i>
                                    <div class="ui corner label">
                                        <i class="asterisk icon"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label>Password</label>
                                <div class="ui left labeled icon input">
                                    <input type="password" placeholder="Password">
                                    <i class="lock icon"></i>
                                    <div class="ui corner label">
                                        <i class="asterisk icon"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="ui blue submit button">Login</div> <a href="/recover"><span style="color:black;">Forgot?</span><a/>
                        </div>
                    </div>
                    <div class="ui vertical divider" style="display: inline-block; width: 10%  ">
                        Or
                    </div>
                    <div class="center aligned column" style="display: inline-block; width: 45%;">
                        <a href="/signUp">
                            <div class="huge green ui labeled icon button">
                                <i class="signup icon"></i>
                                Sign Up
                            </div>
                        </a>
                    </div>
                </div>

            </div>


        </div>

    </div>
{% endblock %}