{% extends "base.twig" %}
{% block title%}Support {% endblock %}
{% block content %}
    <div class="ui container">
        <div class="ui segments">

            <div class="ui segment">
                <h3>Support</h3>
            </div>
            <div class="ui segment">
                <h3>FAQ</h3> <i>Questions</i>
            </div>
            <div class="ui segment">
                <h3>Contact Us</h3> <i>Form</i>
            </div>

        </div>
    </div>
{% endblock %}